* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(120, 187, 203);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1000px;
    /* min-height: 100vh; */
}

.nav-bar{
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 50px;
    
}

.nav-joint{
    font-size: 3rem;
    background-color: rgb(49, 48, 48);
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-joint:hover{
    background: grey;
} 


.homers-web-classic{
    position: relative;
    width: 100%;
    max-width: 1400px;
    min-height: 800px;
    max-height: 900px;
    display: grid;
    grid-template-rows: 10% 90%;
    margin-top: 50px;
    padding-bottom: 100px;

}

.homers-web-toasts{
    position: relative;
    width: 100%;
    max-width: 1400px;
    min-height: 800px;
    max-height: 900px;
    display: grid;
    grid-template-rows: 10% 90%;
    margin-top: 50px;
    padding-bottom: 100px;
}

.homers-web-worms{
    position: relative;
    width: 100%;
    max-width: 1400px;
    min-height: 800px;
    max-height: 900px;
    display: grid;
    grid-template-rows: 10% 90%;
    margin-top: 50px;
    padding-bottom: 100px;
}

.homers-web-mouths{
    position: relative;
    width: 100%;
    max-width: 1400px;
    min-height: 800px;
    max-height: 900px;
    display: grid;
    grid-template-rows: 10% 90%;
    margin-top: 50px;
    padding-bottom: 100px;
}

.tittle-homers{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-content: center;
    /* padding-left: 400px; */
    justify-content: center;

}

.main-homers{
    display: grid;
    grid-template-areas: 
    "clock empty empty empty empty"
    "worm toast yisus worm1 toast1"
    "toast2 mouth yisus bell mouth1"
    "bell1 clock1 yisus toast3 clock2"
    "worm2 worm3 yisus empty1 empty1"
    ;
    padding-left: 30px;
    /* grid-template-columns: ; */
}

.empty{
    grid-area: empty;
    height: 50px;
}

.empty1{
    grid-area: empty1;
}

.yisus{
    grid-area: yisus;
    align-self: center;
}

.clock{
    grid-area: clock;
    position: absolute;
    padding-top: 10px;
    padding-left: 170px;
}
.clock1{
    grid-area: clock1;
    position: absolute;
    padding-top: 10px;
    padding-left: 110px;
}
.clock2{
    grid-area: clock2;
}

.worm{
    grid-area: worm;
    position: absolute;
    padding-top: 50px;
}
.worm1{
    grid-area: worm1;
    position: absolute;
    padding-top: 40px;
}
.worm2{
    grid-area: worm2;
}
.worm3{
    grid-area: worm3;
}

.toast{
    grid-area: toast;
    position: absolute;
    padding-top: 50px;
    padding-left: 20px;
}
.toast1{
    grid-area: toast1;
    
}
.toast2{
    grid-area: toast2;
    position: absolute;
    padding-top: 50px;
}
.toast3{
    grid-area: toast3;
}

.mouth{
    grid-area: mouth;
    padding-top: 20px;
}
.mouth1{
    grid-area: mouth1;
}

.bell{
    grid-area: bell;
}
.bell1{
    grid-area: bell1;
    /* padding-top: 50px; */
    padding-left: 150px;
}